/*  
######################   
    operator  
###################### 
*/

// @include device-below(notebook) {
//      div {
//           border: solid 1px red;

//      }

// }

// @include device-below(tabletpro) {
//      div {
//           border: solid 1px green;

//      }

// }

// @include device-below(tablet) {
//      div {
//           border: solid 1px blue;

//      }

// }

.operator {
     @include work;

     .operator-list {
          padding-inline: 10px;

          @include device-below(tablet) {
               padding-inline: 0;
               padding-block: 10px;
          }
     }

     .whiteBG {
          padding-top: 0;
          border-radius: 20px 20px 6px 6px;
          margin-bottom: 30px;

          @include device-below(tablet) {
               box-shadow: none;
               border-radius: 0;
               margin-bottom: 0;
          }
     }

     .terDetails {

          @include device-above(notebook) {
               padding: 0 30px;
          }
     }



     h5 {
          text-transform: uppercase;
          font-weight: 500 !important;
          font-size: 1.6rem;
          margin-bottom: 0;
          @include work;

          span {
               font-size: 22px;
          }

     }

     h1 {
          color: #63c862;
          text-transform: uppercase;
          font-size: 1.8rem;
          font-weight: 900;
          margin-bottom: 14px;
          line-height: 1.5rem;
          @include work;
     }

     .details {
          padding: 20px 50px;
          color: #454545;

          .cell {}
     }

     .info {
          color: #fff;
     }

     .theTitle {
          padding-left: 0;
     }

     .singleCover {
          img {
               border-radius: 14px 14px 0px 0px;
               height: 330px;
               object-fit: cover;

               @include device-below(tablet) {
                    border-radius: unset
               }
          }

          height: 330px;
          margin-bottom: 10px;
     }

     .sliderCaption {
          position: absolute;
          right: 40px;
          top: 20px;

          @include device-below(tablet) {
               top: 150px;
               right: 15px;
          }

          color: #fff;
          font-weight: 500;
          font-size: 14px;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.76);
     }

     .placeHolder {
          height: 330px;
          background-color: rgb(184, 184, 184);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 14px 14px 0px 0px;
          font-weight: 600;
          margin-bottom: 20px;

          h3 {
               font-weight: 600;
          }
     }

     ul.links {
          color: blue;
          display: inline !important;
          margin: 0;
          margin-top: 20px !important;
          ;
     }

     .links li {
          display: inline;
          font-size: .9rem;
          font-weight: 600;
          color: #0087c5;

          &::after {
               content: " | ";
               color: #dadce0;
               font-weight: normal;
          }

          &:last-of-type:after {
               content: "";
          }

          a:hover {
               color: dimgray;
          }

     }

     .infoContainer {
          display: flex;
          flex-wrap: wrap;
          gap: 9px;
          font-size: 0.9rem;
          padding-right: 31px;

          @include device-below(notebook) {
               padding-right: 61px;

          }

          @include device-below(tablet) {
               padding-right: 0;

          }

          div:nth-last-child(-n+3) {

               @include device-below(notebook) {
                    flex-basis: 100%
               }
          }

     }

     .infoContainer>div {
          flex: 49%;
          box-sizing: border-box;
          /* or - flex: 0 50% - or - flex-basis: 50% - */
          /*demo*/
          padding: 10px;

          &:last-of-type {
               flex-basis: 100%;

          }
     }

     .info {
          font-weight: 600;
          text-transform: uppercase;

          span {
               font-weight: 800;
               text-transform: none;
          }
     }

     .info2 {
          font-weight: 600;
          font-size: .83rem;

          a {
               font-weight: 800;
               color: $lightBlue;
          }

          span {
               font-weight: normal;
          }
     }

     .population {
          background-color: #06492d;
     }

     .density {
          background-color: #279b61;
     }

     .median {
          background-color: #12724a;
     }

     .msa {
          background-color: #63c862;
     }

     .zips {
          background-color: #65a864;
     }

     .licensed {
          float: right;
          position: relative;
          left: 43px;

          @include device-below(notebook) {
               left: 63px;

          }

          @include device-below(tablet) {
               left: -10px;
          }

          img {
               width: 35px;
          }

          .tooltippy:hover::after {

               border-color: #7fc56e transparent transparent transparent;
          }

          .tooltippy:hover::before {
               background: #7fc56e
          }
     }

     img.screenshot {
          position: absolute;
          top: -106px;
          width: 202px;
          left: 66px;
          border-radius: 20px;
          z-index: 1;

          @include device-below(notebook) {
               left: 96px;
               top: -31px;

          }

          @include device-below(tabletpro) {
               left: 81px;

          }

          &.phoneframe {
               width: 225px;
               left: 55px;
               top: -113px;
               z-index: 99;
               z-index: 2;

               @include device-below(notebook) {
                    left: 85px;
                    top: -39px;

               }

               @include device-below(tabletpro) {
                    left: 70px;

               }
          }

     }

     // .pubcarousel hr {
     //      margin: 0 0 15px 0;
     //      border-color: #f3f3f3
     // }

     // img.screenshot {
     //      position: absolute;
     //      top: -92px;
     //      width: 205px;
     //      left: 60px;
     //      border-radius: 20px;
     //      z-index: 1;

     //      &.phoneframe {
     //           position: relative;
     //           width: 220px;
     //           left: initial;
     //           top: -110px;
     //           z-index: 99;
     //      }
     // }


     img.phoneframe {
          z-index: 99;
          ;
     }

     .chahamber2 {
          display: inline-block;
          text-indent: 75px
     }

     .pubs {
          hr {

               margin: 0 0 15px 0;
               border-color: #dadce0
          }

          .publisher {

               // border: solid 1px;
               display: flex;
               align-content: center;
               padding: 15px 0 20px 0;
               gap: 13px;
               flex-wrap: wrap;

               @include device-below(tablet) {
                    margin-left: -4px
               }

               img {
                    width: 60px;
                    height: 60px;

                    @include device-below(tablet) {
                         width: 70px;
                         height: 70px;
                    }

                    border: solid 3px #fff;
                    border-radius: 50%;
                    margin: 0 2px;
                    -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.27);
                    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.27);

               }

               .tooltippy:hover::after {
                    border-color: $xorange transparent transparent transparent;
               }

               .tooltippy:hover::before {
                    background: $xorange;
               }
          }
     }

     .em {
          font-style: italic;
          color: #0a0a0a;
     }

     #cover.owl-carousel {
          margin: 0 0 10px 0;

          .owl-stage-outer {
               padding: initial;

               border-radius: 14px 14px 0px 0px;

               @include device-below(tablet) {
                    border-radius: unset
               }
          }

          img {
               height: 330px;
               object-fit: cover;

               @include device-below(notebook) {
                    height: 290px;

               }

               @include device-below(tablet) {
                    height: 180px;

               }
          }

          .owl-nav {
               position: absolute;
               top: 45%;
               width: 100%;
               color: rgba(255, 255, 255, .5);
               font-size: 30px;

               @include device-below(tablet) {
                    display: none;

               }
          }

          .owl-prev {
               left: 20px;
               position: absolute
          }

          .owl-next {
               right: 20px;
               position: absolute
          }

          .owl-nav [class*="owl-"]:hover {
               background: none;
          }
     }

     .tempHolder {
          min-height: 500px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
               font-size: 80px;
               color: $xorange;
          }

          img {
               border-radius: 14px 14px 0 0;
          }

          @include device-below(notebook) {
               align-items: start;

          }
     }

     .whiteBG {

          padding-bottom: 0;

          @include device-below(notebook) {
               padding: 0 !important;

          }
     }

     #sharelink {
          cursor: pointer;

          #shareText span {
               @include device-below(tablet) {
                    display: none;

               }
          }
     }

     .changelayout {
          padding-inline: 0;

          select {
               margin: 0;
               border-radius: 6px;
               color: #454545;
               font-size: 15px;

          }

          .selectList {
               display: flex;

               @include device-below(tablet) {
                    flex-direction: column;
               }

               div {
                    flex: 1 1 0px;
                    width: 100%
               }

               @include device-below(tablet) {
                    padding: .625rem;

               }
          }

          .mobilePreview {
               // min-height: 790px;
          }


          @include device-below(notebook) {
               padding-inline: 20px !important;
          }

          @include device-below(tablet) {
               padding-inline: 0px !important;

          }



     }

     @include device-below(tablet) {
          .infoblock {
               padding-right: .625rem !important;

          }

     }

     .phoneContainer {
          position: relative;
          width: 95%;
          margin: 0 auto;
          margin-top: 20px;

          @include device-below(notebook) {
               margin-bottom: 30px;
          }

          .screen {
               width: 90%;
               border-radius: 30px;
               position: relative;
               left: 0;
               top: 10px;

               @include device-below(tablet) {
                    top: -10px;
               }
          }

          .frame {
               position: absolute;
               top: 0;
               left: 1px;

               @include device-below(tablet) {
                    top: -20px;
               }
          }
     }

     .downloadBox {
          z-index: 999;
          position: relative;
          bottom: -30px;
          background: #f1faff;
          color: #0087c5;
          width: 200px;
          display: inline-block;
          text-align: left;
          font-weight: 700;
          font-size: 15px;
          border-radius: 20px;
          text-align: center !important;
          padding: 2px;
          // right: 14px;
          padding: 10px 15px;

          i {
               font-size: 20px;
               padding-right: 8px
          }

          img {
               width: 17px;
               margin-right: 10px;
          }
     }

}

.operatorCTA {
     display: flex;
     background: rgb(95, 192, 94);
     background: linear-gradient(90deg, rgba(95, 192, 94, 1) 0%, rgba(7, 71, 43, 1) 100%);
     align-items: center;
     flex-wrap: wrap;
     font-size: 14px;

     div {
          padding: 13px 30px;
          color: #fff;
          // white-space: nowrap;

          img {
               width: 25px;
               margin-right: 10px;
               position: relative;
               top: -4px;
          }
     }

     a {
          color: #fff;
          padding-bottom: 2px;
          display: inline-block;
          border-bottom: solid 1px #fff;
          font-weight: 700;

          &:hover {
               color: #fff;
               border: none;
          }

     }
}

.page-template-template-operator {
     .footer {
          @include device-below(tablet) {
               display: none;
          }
     }
}

.not-rendered {
     background: $xorange;

     .whiteBG {
          margin-bottom: 0;
          border-radius: 20px;
     }

     .footer {
          margin-top: 0;

          @include device-below(tablet) {
               display: block;
          }
     }

     .subFooter {
          background: #fff;
     }

     .tempHolder img {
          border-radius: 20px;
     }

     .tempHolder {
          border-radius: 22px;
     }
}




.loader {
     width: 80px;
     aspect-ratio: 1;
     border-radius: 50%;
     -webkit-mask: linear-gradient(0deg, #000 55%, #0000 0) bottom/100% 18.18%;
     background:
          linear-gradient(#f0552a 0 0) bottom/100% 0% no-repeat #ddd;
     animation: l8 1.5s infinite steps(7);
}

@keyframes l8 {
     100% {
          background-size: 100% 115%
     }
}

.loader2 {
     width: 125px;
     height: 125px;
     animation: spin2 2s linear infinite;
}

@keyframes spin2 {
     0% {
          transform: rotate(0deg);
     }

     100% {
          transform: rotate(360deg);
     }
}

/* HTML: <div class="loader"></div> */
.loader3 {
     width: 120px;
     height: 60px;
     border-radius: 200px 200px 0 0;
     -webkit-mask: repeating-radial-gradient(farthest-side at bottom, #0000 0, #000 1px 12%, #0000 calc(12% + 1px) 20%);
     background:
          radial-gradient(farthest-side at bottom, #f0552a 0 95%, #0000 0) bottom/0% 0% no-repeat #ddd;
     animation: l10 2s infinite steps(6);
}

@keyframes l10 {
     100% {
          background-size: 120% 120%
     }
}